
/* some common styles */
input[type="checkbox"]{
    width: 20px; /*Desired width*/
    height: 20px; /*Desired height*/
}

p{
    margin-block-end: 0px !important;
}

li{
    list-style: none;
}
li:hover{
    background-color: #2d7b93;
    color: white;
}

/* backgroung image for home */
#homePage{
    background: url(../images/home_back.jpg);
}

/* background for the app */
#outerDiv{
    background-color: lightblue;
}


/* class for checked style */
.checkedStyle{
    color: grey;
    text-decoration: line-through;
    opacity: 0.5;
}

/* class for category display */
.category{
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(15, 15, 139);
    color: white;
    margin-right: 2rem;
}